body {
	margin: 0;
	background-color: white;
	font-family: "Hiragino Maru Gothic ProN",  Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 16px;
}

a {
	color: inherit;
	outline: none;
	border: 0;
	cursor: pointer;
}

#mainPopup {
	height: 260px;
	width: 315px;
}

h1, h2 {
	padding: 1rem;
	color: white;
	font-weight: 100;
	margin: 0;
	line-height: 1;
	background-color: #2D5086;
}

h1 {
	font-size: 1.5em;
}

h2 {
	font-size: .8rem;
}

ul {
    margin: 0;
	padding: 0;
}
ul li {
	list-style-type: none;
	line-height: 1;
	color: #777777;
	font-size: .9rem;
	vertical-align: middle;
}

p {
	font-weight: bold;
	color:#666;
}

.element {
    padding: 20px 0;
    border-bottom: solid 1px #E3E9F3;
}

.row {
    padding-left: 20px;
}

.row-content {
    display: inline-block;
    vertical-align: bottom;
}

.word-row {
	height: 30px;
}

.word {
	font-size: 20px;
    font-weight: 800;
    margin-right: 2px;
}

.reading {
    font-size: 14px;
}

.description-row {
	height: 16px;
}

.part-of-speech {
	width: 60px;
}

.description{

}
